@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <img class="card-img-top" src="bookStore/wwwroot/Images/forgottenMelody.jpg" alt="Forgotten: Seventeen and Homeless">
            <div class="card-body">
                <h5 class="card-title">Forgotten: Seventeen and Homeless </h5>
                <p class="card-text">With absent parents, overdue rent, and no one to turn to, Adele is forced into the hard, cold world of homelessness. While striving to maintain the pretense of a “normal” life, Adele attempts to finish high school, all the while concealing her secret. But is she strong enough to keep up the act?</p>
                <p class="card-text"><b>Price: $19.99</b></p>
                <a href="https://www.goodreads.com/book/show/7443298-forgotten" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <img class="card-img-top" src="bookStore/wwwroot/Images/forgottenMelody.jpg" alt="City of Women">
            <div class="card-body">
                <h5 class="card-title">City of Women</h5>
                <p class="card-text">It is 1943 - the height of the Second World War - and Berlin has essentially become a city of women. In this page-turning novel, David Gillham explores what happens to ordinary people thrust into extraordinary times, and how the choices they make can be the difference between life and death.</p>
                <p class="card-text"><b>Price: $24.50</b></p>
                <a href="" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    </div>
</div>
